body {
    background-color:#fff5e9
  }

  
  p {
    font-family: verdana;
    font-size: 40px;
    color: #fff5e9
  }


.header h1 {
  margin-top: 100px;
  text-align: center;
  color: white;
  height: 100px;
  width: 100%;
  color: #493d2f;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
}


  * {
    padding: 0px;
    margin: 0;
}

.button {
  background-color: #493d2f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  margin: 4px 4px;
  margin-bottom: 200px;
}